*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}   
body{height:100%;}
.page-wrapper {
    background: url('./background1.jpg') fixed;
    height: 100%;
    line-height: 1;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;  
}
.logo, .categories-menu, .categories-list, .search-bar, .quiz-button, .sign-in-button, .block-image {
    user-select: none;
}

.header {   
    background-color: rgb(24, 27, 24);
    height: 4rem;
    width: 100%;
    border-bottom: 1px solid #fff;
    top: 0;
    position: sticky;
    display: grid;
    grid-template-areas: 
    'logo search categories contacts quiz sign-in';
    grid-template-columns: 10% 25% 20% 15% 15% 15%;
    align-items: center;
    justify-items: center;
    justify-content: center;
    cursor: default;
}

.logo {
    grid-area: logo;
    width: 3.2rem;
    height: 3.2rem;  
    border: 2px solid #fff;
    border-radius: 50%;
}
.logo:hover {
    border: 3px solid rgb(197, 156, 69);
    cursor: pointer;
    transition: .1s;
    transform: scale(1.1);
}
.logo:active {
    border: 3px solid rgb(120, 96, 50);
}

.categories-menu {
    grid-area: categories;
    position: absolute;
}
.categories-menu:hover {
    color: rgb(197, 156, 69); 
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 20px;
    justify-items: center;
}
.categories-menu:hover > ul {
    display: initial;
}
.categories-list {
    background-color: rgb(24, 27, 24);
    display: none; 
    position: absolute;
    min-width: 100%;
    margin: 27% 0 0 -86%;
    padding: 5px 15% 5px 10%;
    border: 1px solid #FFF;   
    border-radius: 5%;
    list-style: none;
}
.categories-list a {
    text-decoration: none;
    color: #fff;
    line-height: 1.5;
}
.categories-list a:hover {
    color: rgb(197, 156, 69); 
}
.categories-list a:active {
    color: rgb(120, 96, 50);
}

.search-bar {
    background-color: #fff;
    border: 2px solid #fff; 
    border-radius: 15px;
    grid: search;
    padding: 5px 5px 5px 10px;
    height: 50%;
    display: flex;
    justify-content: center;
}
.search-bar img{
    width: 20px;
    height: 20px;
    cursor: default;
}
.search-bar button {
    padding-right: 2px;
    cursor: pointer;
    border: 0;
    background-color: #fff;
}
.search-bar input {
    color: #000;
    background: transparent;
    width: 100%;
    border: none;
    outline: 0;
}
.search-bar:hover {
    border: 2px solid rgb(197, 156, 69); 
}


.quiz-button {
    grid-area: quiz;
    cursor: pointer;
    line-height: 1.1;
}
.quiz-button:hover {
    color: rgb(197, 156, 69);
}
.quiz-button:active {
    color: rgb(120, 96, 50);
}


.contacts {
    grid-area: contacts;
    font-size: 15px;
    text-align: center;
    line-height: 1.2;
}
.contacts span {
    user-select: none;
}

.sign-in-button {
    grid-area: sign-in;
}

.sign-in-button a {
    text-decoration: none;
    color: #fff;
}
.sign-in-button a:hover {
    color: rgb(197, 156, 69);
    cursor: pointer;
}
.sign-in-button a:active {
    color: rgb(120, 96, 50);
}

.block-container {
    max-width: 1270px;
    padding: 20px;
    margin: 0 auto;
    background: rgb(197, 156, 69);
    display: flow-root;
    min-height: 100vh;
}

.block {
    padding: 10px;
    background-color: rgb(24, 27, 24);
    max-width: 32%;
    min-width: 20%;
    height: 20rem;
    border: 1px solid;
    float: left;
    margin: 8px;
    border-radius: 15px;
    box-shadow: -2px 4px 5px  #000;
    cursor: default;
}
.block:hover {
    padding: 7px 7px 7px 7px;
    box-shadow: -2px 5px 5px  #000;
    border: 1px solid rgb(56, 50, 50);
}

.block-title {
    display: block;
    font-size: 22px;
    margin: 10px 0px 10px 0px;
    cursor: pointer;
    text-decoration: none;
    color: #FFF;
}
.block-title:hover {
    color: rgb(197, 156, 69);
}
.block-title:active {
    color: rgb(120, 96, 50);
}

.block-categories {
    display: inline-block;
    background-color: rgb(60, 60, 60);
    border-radius: 20px;
    border: 1px solid rgb(56, 50, 50);
    height: 20px;
    max-width: 150px;
    padding: 3px 5px 22px 5px;
    margin: 5px 5px 10px 5px;      
}
.block-categories:hover {
    color: rgb(197, 156, 69);   
    cursor: pointer;
}
.block-categories:active {
    color: rgb(120, 96, 50);
}

.block-content {
    font-size: 16px;
    line-height: 130%;
    display: block;  
}

.block-image {
    width: 150px;
    height: 150px;
    padding: 0;
    border: 1px solid #FFF;
    float: left;
    border-radius: 50%; 
    margin: 5px 10px 5px 5px;
}


.footer {
    background-color: rgb(24, 27, 24);
    height: 4rem;
    width: 100%;
    border-top: 1px solid #fff;
    display: grid;
    grid-template-areas: 
    'logo contacts channels';
    grid-template-columns: 10% 25% 65%;
    align-items: center;
    justify-items: center;
    cursor: default;
}

.channels {
    grid-area: channels;
    padding-left: 50%;
}
.channels a {
    padding: 5px;
    cursor: default;
}
.channels img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;  
}
.channels img:hover {
    border: 2px solid rgb(197, 156, 69);
}
.channels img:active {
    border: 3px solid rgb(120, 96, 50);
}

.quiz {
    background: rgb(197, 156, 69);
    display: none;
    margin: 0 auto;
    max-width: 1270px;
    min-height: 100vh;
    padding: 20px;
}
.quiz-question {
    background-color: rgb(24, 27, 24);
    border: 1px solid;
    border-radius: 15px;
    box-shadow: -2px 4px 5px  #000;
    cursor: default;  
    font-size: 140%;
    height: 100%;
    padding: 10px;
    width: 100%;
}
.quiz-option {
    align-content: center;
    cursor: default;
    font-size: 120%;
    line-height: 10%;
    list-style: none;
    margin-top: 10%;
    padding: 10px;
    user-select: none;
    width: 50%;
}
.quiz-option:hover {
    color: rgb(120, 96, 50);
}
.quiz-option:active {
    color: rgb(24, 27, 24);
}
.result {
    background: rgb(197, 156, 69);
    display: none;
    margin: 0 auto;
    max-width: 1270px;
    min-height: 100vh;
    padding: 20px;
}
.result span {
    background-color: rgb(24, 27, 24);
    border: 1px solid;
    border-radius: 15px;
    box-shadow: -2px 4px 5px  #000;
    cursor: default;  
    font-size: 140%;
    height: 100%;
    padding: 10px;
    width: 100%;
}
.result img {
    border: 2px solid rgb(24, 27, 24);
    border-radius: 50%; 
    height: 150px;
    margin: 3% 0 0 0;
    width: 150px;
}
.quiz-end {
    align-content: center;
    cursor: default;
    font-size: 110%;
    line-height: 10%;
    list-style: none;
    margin-top: 1%;
    padding: 10px 0;
    user-select: none;
    width: 100%;
}
.finish-button {
    background-color: rgb(24, 27, 24);
    border: 1px solid;
    border-radius: 15px;
    box-shadow: -2px 4px 5px  #000;
    color: #fff;
    cursor: default;  
    font-size: 110%;
    height: 120%;
    margin-top: 1%;
    padding: 5px;
    user-select: none;
    width: 10%;
}
.finish-button:hover {
    color: rgb(197, 156, 69);
}
.finish-button:active {
    color: rgb(120, 96, 50);
}